{% extends 'base.html.twig' %}

{% block content %}
<h1>Optimizador de Im치genes</h1>
<form method="post">
    <div class="form-group">
        <label for="maxWidth">Ancho m치ximo:</label>
        <input type="number" name="maxWidth" class="form-control">
    </div>
    <div class="form-group">
        <label for="maxHeight">Alto m치ximo:</label>
        <input type="number" name="maxHeight" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Optimizar Im치genes</button>
</form>
{% endblock %}